<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <title>ImersãoAngularjs</title>


</head>
<main>
<body ng-controller="indexController">
    
  

   
    
    <header class="container">

        <div class="row">
            <input type="text" placeholder="busca" ng-model="busca">
            {{busca}}
         </div>
        <table class="striped"> <!--Essa class é do materialize-->
            <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Nota1</th>
                <th>Nota2</th>
                <th>Nota3</th>
                <th>Média</th>
            </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="aluno in alunos | filter:busca">
                     <td>{{aluno.nome}}</td>
                     <td>{{aluno.email}}</td>
                     <td>{{aluno.nota1}}</td>
                     <td>{{aluno.nota2}}</td>
                     <td>{{aluno.nota3}}</td>
                     <td>{{media(aluno)}}</td>
                    
                 </tr>
             </tbody>
        </table>

    </header>


    <script src="lib/angular/angular.min.js"></script>

        <script type="text/javascript">

            
            
            
        document.addEventListener('DOMContentLoaded', function() {
         var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(modal1);
    
  });

  // Or with jQuery

       
            


        </script>


    <script>
    angular.module("myApp", []).controller("indexController", function($scope){



        $scope.alunos = [

            {nome:"Camila", email: "camila@gmail.com", nota1:65, nota2: 80, nota3: 55},
            {nome:"Pedor", email: "Pedro@gmail.com", nota1:10, nota2: 25, nota3: 35},
            {nome:"Carlos", email: "Carlos@gmail.com", nota1:18, nota2: 65, nota3: 89},
        ];
        

        var init = function(){


        };


        var contar= 0; /*contador que mostra a contagem das ações das interações no console*/
        $scope.media = function(aluno){
            console.log(contar++);
            var media = (aluno.nota1 + aluno.nota2 + aluno.nota3)/3;
            return media.toFixed(2);
            
        };

        init();
    });







    </script>



    
    <script type="text/kavascript"></script>

</main>


  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>BEM VINDO</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

</body>
</html>